{include file="public/header"}
<article class="page-container">
    <form class="form form-horizontal" id="form-mmm-add">
        <div class="row cl">
            <input type="hidden" name="uid" value="{$data.uid}">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>选择用户组：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="group_id" class="select">
					<option value="">-请选择隶属的用户组-</option>
                    {volist name="group" id="vo"}
                    <option value="{$vo.id}" {if condition="$vo.id eq $data.group_id"} selected="selected" {/if}>-{$vo.title}-</option>
                    {/volist}
				</select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>用户名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.username}" placeholder="填写用户名" id="username" name="username">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.password}" placeholder="填写密码" id="password" name="password">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>状态：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="status" class="select">
					<option value="0" {if condition="$data.status eq 0"} selected="selected"{/if}>冻结</option>
                    <option value="1" {if condition="$data.status eq 1"} selected="selected"{/if}>开启</option>
				</select>
				</span>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn-form-submit btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>
{include file="public/footer"}
<script>
    var SCOPE = {
        'form_add_url' : "{:url('auth/edituser')}",
    }
</script>
</html>