{include file='public/header'}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 数据预处理 <span class="c-gray en">&gt;</span> 数据筛选 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">
        当前总数据 : <span><strong><a style="color:lightseagreen;text-decoration:underline" href="{:url('Dataconfiguration/select',['status'=>2])}">{$allCount}</a></strong></span> 条
        已标注数据 : <span><strong><a style="color:green;text-decoration:underline" href="{:url('Dataconfiguration/select',['status'=>4])}">{$status1Count}</a></strong></span> 条
        未标注数据 : <span><strong><a style="color:red;text-decoration:underline" href="{:url('Dataconfiguration/select',['status'=>5])}">{$status0Count}</a></strong></span> 条
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a class="btn btn-primary-outline radius" onclick="layer_show('添加参数','{:url('Dataconfiguration/rendomSelectByMachine')}','','200')" href="javascript:;"> 获取机器学习识别结果数据接口</a>
            <a class="btn btn-warning radius" href="{:url('Dataconfiguration/reset0')}"> 重置数据</a>
        </span>
    </div>
    <div class="mt-20">
        <table class="my-table table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="10"><input name="" type="checkbox" value=""></th>
                <th width="20">ID</th>
                <th width="70">分类</th>
                <th width="100">图像</th>
                <th width="100">机器判定(最新一次结果)</th>
                <th width="40">已做的对比试验组数</th>
                <th width="60">发布状态</th>
                <th width="55">信息上传人</th>
            </tr>
            </thead>
            <tbody>
            {volist name="allData" id="vo"}
            <tr class="text-c">
                <td><input name="" type="checkbox" value=""></td>
                <td>{$vo.id}</td>
                <td>{$vo.type|type}</td>
                <td><a href="__PUBLIC__{$vo.src}" target="_blank"><img width="100" class="picture-thumb" src="__PUBLIC__{$vo.src}"></a></td>
                <td class="text-c">{$vo.tag|mechinetags}</td>
                <td><span class="btn btn-default radius"><a {if condition="$vo.exec_num gt 1"} style="display: none" {/if} href="">{$vo.exec_num}</a>{if condition="$vo.exec_num gt 1"}<a title="点击查看详细报告" href="">{$vo.exec_num}(点击查看)</a>{/if}</span></td>
                <td class="td-status">{$vo.status|tagstatus}</td>
                <td>{$vo.uid|getuserbyuid}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</div>


{include file='public/footer'}
<script type="text/javascript">
    var table = $(".my-table").dataTable({

    });

    $(document).ready(function () {
        $('.uploadifive-button').css({'top':'7px','display':'inline-block'});
    });




</script>

</html>