{include file="public/header"}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 数据集管理 <span class="c-gray en">&gt;</span> 参数表数据 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">
        <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a class="btn btn-success radius" data-title="查看参数表结构" data-href="" href="{:url('parameter/index')}">
                查看记录参数表结构
            </a>
             <a class="btn btn-warning radius" data-title="查看参数表结构" data-href="" href="{:url('parameter/index_info')}">
                查看记录参数表数据(目前table内容等待二次开发)
            </a>


            <a class="btn btn-primary radius" data-title="添加参数" data-href="" onclick="layer_show('添加参数','{:url('parameter/add')}','','350')" href="javascript:;">
                <i class="Hui-iconfont">&#xe600;</i> 添加参数(列)
            </a>
            <a class="btn btn-primary radius" data-title="记录实验参数组" data-href="" onclick="layer_show('记录实验参数组','{:url('parameter/addexperiencegroups')}','','350')" href="javascript:;">
                <i class="Hui-iconfont">&#xe600;</i> 记录实验参数组(行)
            </a>
        </span>
        <span class="r">
            共有数据：<strong>{$count}</strong> 条
        </span>
    </div>
    <div class="mt-20">
        <table class="my-table table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
                <tr class="text-c">
                    <th width="25"><input type="checkbox" name="" value=""></th>
                    {volist name="tablefields" id="vo"}
                        <th width="25">{$vo.Comment}</th>
                    {/volist}
                </tr>
            </thead>
            <tbody>
            {volist name="data" id="vo"}
                <tr class="text-c">
                    <td><input type="checkbox" value="" name=""></td>
                    {volist name="tablefields" id="vo1"}
                        <td>{$vo1.Field}</td>
                    {/volist}
                </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</div>

{include file="public/footer"}
<script>
    var table = $(".my-table").dataTable({

    });
</script>